body {
    background-color: rgb(71, 69, 69);
    font-family: monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5%;
}

input {
    margin-top: 2%;
    height: 30px;
    width: 35%;
    text-align: center;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(168, 167, 167);
    outline: none;
}

input:hover {
    width: 50%;
    background-color: white;
    transition: 0.5s;
    border-radius: 35px;
}

button {
    height: 25px;
    width: 15%;
    border-radius: 10px;
    border: none;
    margin-top: 3%;
    color: white;
    background-color: grey;
}

#login button {
    margin-top: 15%
}

button:hover {
    cursor: pointer;
    background-color: teal;
    width: 35%;
    transition: 0.5s;
}

p {
    font-size: 15px;
}

a {
    color: red;
}

a:hover {
    font-size: 20px;
    transition: 0.2s
}

.role {
    height: auto;
    width: auto;
}

.userRoleHeading {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: auto;
    margin-top: 2%;
    margin-bottom: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.error {
    color: red;
    font-size: 15px;
}
.success{
    color: rgb(65, 167, 65);
}

h1 {
    background-color: rgb(69, 77, 65);
    padding: 1%;
    text-align: center;
}

button:disabled,
button[disabled]:hover {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    height: 5%;
    width: 15%;

}