body {
    background-color: rgb(132, 156, 132);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(32, 65, 32);
    /* font-size: xx-large; */
    color: greenyellow;
    text-align: center;
    padding: 1%;
    font-style: italic;
}

.addToDo {
    padding: 5%;
    text-align: center;
}

input {
    text-align: center;
    width: 500px;
    padding: 1%  ;
    border-radius: 10px;
    border-width: 0;
    margin-bottom: 1%;
    /* height: 20%; */
}

button {
    width: 400px;
    height: 25px;
    cursor: pointer;
}

ol li:nth-child(odd) {
    background: #8b8a8a;
}

h2 {
    background-color: rgb(32, 65, 32);
    text-align: center;
    color: greenyellow;
    padding: 1%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ol li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    /* text-decoration: none; */
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

ol li button {
    float: right;
    font-size: 18px;
    background-color: transparent;
    border: none;
    width: 5%;
    text-align: center;
    padding: auto;
}

.footer {
    font-size: xx-large;
    color: greenyellow;
    text-align: right;
    padding: 1%;
    font-style: italic;
}
.logout {
    cursor: pointer;
    width: auto;
    border-radius: 10px;
    background-color: red;
}
.action-button {
    cursor: pointer;
    border-radius: 10px;
    background-color: green;
    width: auto;
}